@import '_variables'
@import '_mixins'
@import 'app/main'

a.language
  font-family: "Consolas"
  padding: 0 20px
  pre
    padding: 0
    background-color: #FFF
    border: none
    margin 0;

.results li
  list-style-type: none
  margin: 10px 0;

  div
    padding: 14px
    height: 73px
    font-family: sans-serif
    font-size: 1.1em
    line-height: 1.4em
    border: 1px solid #000
    margin-left: 10px
    margin-bottom: 20px;
    roundall(5px)
    shadow(#999, 5px, 5px, 5px)

  .language
    text-align: center
    font-size: 2.1em
