body
  .container
    nav.navbar.navbar-default(role='navigation')
        .container-fluid
            //
               Brand and toggle get grouped for better mobile display 
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.route.navbar-brand(href='/') Translation and Back(bone)
            //
               Collect the nav links, forms, and other content for toggling 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a.route(href="/") Translate
                li
                  a.route(href="/about") About


              ul.nav.navbar-nav.navbar-right
                li
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Language
                      b.caret
                    ul.dropdown-menu
                      li
                        a.language(href='ar')
                            pre (ar)       Arabic
                        a.language(href='bg')
                            pre (bg)       Bulgarian
                        a.language(href='ca')
                            pre (ca)       Catalan
                        a.language(href='zh-CHS')
                            pre (zh-CHS)   Chinese Simplified
                        a.language(href='zh-CHT')
                            pre (zh-CHT)   Chinese Traditional
                        a.language(href='cs')
                            pre (cs)       Czech
                        a.language(href='da')
                            pre (da)       Danish
                        a.language(href='nl')
                            pre (nl)       Dutch
                        a.language(href='en')
                            pre (en)       English
                        a.language(href='et')
                            pre (et)       Estonian
                        a.language(href='fi')
                            pre (fi)       Finnish
                        a.language(href='fr')
                            pre (fr)       French
                        a.language(href='de')
                            pre (de)       German
                        a.language(href='el')
                            pre (el)       Greek
                        a.language(href='ht')
                            pre (ht)       Haitian Creole
                        a.language(href='he')
                            pre (he)       Hebrew
                        a.language(href='hi')
                            pre (hi)       Hindi
                        a.language(href='mww')
                            pre (mww)      Hmong Daw
                        a.language(href='hu')
                            pre (hu)       Hungarian
                        a.language(href='id')
                            pre (id)       Indonesian
                        a.language(href='it')
                            pre (it)       Italian
                        a.language(href='ja')
                            pre (ja)       Japanese
                        a.language(href='tlh')
                            pre (tlh       Klingon
                        a.language(href='tlh-Qaak')
                            pre (tlh-Qaak) Klingon (pIqaD)
                        a.language(href='ko')
                            pre (ko)       Korean
                        a.language(href='lv')
                            pre (lv)       Latvian
                        a.language(href='lt')
                            pre (lt)       Lithuanian
                        a.language(href='ms')
                            pre (ms)       Malay
                        a.language(href='mt')
                            pre (mt)       Maltese
                        a.language(href='no')
                            pre (no)       Norwegian
                        a.language(href='fa')
                            pre (fa)       Persian
                        a.language(href='pl')
                            pre (pl)       Polish
                        a.language(href='pt')
                            pre (pt)       Portuguese
                        a.language(href='ro')
                            pre (ro)       Romanian
                        a.language(href='ru')
                            pre (ru)       Russian
                        a.language(href='sk')
                            pre (sk)       Slovak
                        a.language(href='sl')
                            pre (sl)       Slovenian
                        a.language(href='es')
                            pre (es)       Spanish
                        a.language(href='sv')
                            pre (sv)       Swedish
                        a.language(href='th')
                            pre (th)       Thai
                        a.language(href='tr')
                            pre (tr)       Turkish
                        a.language(href='uk')
                            pre (uk)       Ukrainian
                        a.language(href='ur')
                            pre (ur)       Urdu
                        a.language(href='vi')
                            pre (vi)       Vietnamese
                        a.language(href='cy')
                            pre (cy)       Welsh

    main#pages



