section.page.result
	h1.page-header About

	h3 Original repository
	p fork and hack, at: 
		a(href="https://github.com/saitodisse/translate-and-back") saitodisse/translate-and-back

	h3 human javascript
	p "a bag of pre-assembled little tools that you're free to rip apart". Includes nodejs, browserify, express, jade, backbone...
		ul
			li
				a(href="http://humanjavascript.com/") the book
			li
				a(href="http://docs.humanjavascript.com/") docs
			li
				a(href="https://github.com/HenrikJoreteg/humanjs") humanjs on GitHub

	h3 Microsoft Translator
	p	This API is free to use with a limit of up to 2,000,000 characters per month
		ul
			li
				a(href="http://msdn.microsoft.com/en-us/library/hh454950.aspx") Obtaining an Access Token
			li
				a(href="http://msdn.microsoft.com/en-us/library/ff512387.aspx") Using the HTTP Interface
