section.page.config
  h1 Translation :: Configure 

  div.row
    b Write a sentence: 
    input.sentence

  div.row
    b Select the language path: 
    input.languagePath

  a(href="/test.css") config
