section.page.config
  h1.page-header Translate and Back

  .form-group
    label(for='sentence') Type a sentence
    input#sentence.form-control(type='text', placeholder='Type a sentence here to translate ever several languages and back to original')
  .form-group
    label(for='langPath') Choose the translations path
    input#langPath.form-control(type='text', placeholder='pt,en,ja')

  button.btn.btn-default.translate Start

  ul.results.col-lg-12
